.header--container {
  background-image: url('hotel.jpg');
  background-size: cover;
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
}

header {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

h1 {
  margin: 0;
  color: white;
}

h3 {
  margin: 0;
  color: white;
}
